@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$FONT : 'Ubuntu', sans-serif;

*{
    font-family: $FONT;
}

.logo{
    padding: 20px 4%;
    font-size: 2.2vw;
    letter-spacing: 1%;
    color: #000;
    font-weight: 900;
    &:hover{
        color: #444444;
        transition: all .9s;
    }
}

.main{
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}

.contet{
    position: relative;
    width: 100%;
    display: flex;


    h2{
        font-size: 7.2em;
        font-weight: 300;

        span{
            font-weight: 900;
        }
    }

    p {
        color: #444444;
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 20px 0;
    }

    .text{
        width: 100%;
        max-width: 600px;
    }
}

.buton {
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    background: #000;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
    &:hover{
        background-color: #444444;
        transition: all .9s;
        letter-spacing: 3px;
    }
}

.slider{
    margin-left: 20%;
    position: relative;
}
.slider .slides{
    display: none;
}
.slider .slides.active{
    display: block;
}
.slider .slides img{
    width: 100%;
    max-width: 600px;
}
.bot{
    position: absolute;
    bottom: 0;
    // margin-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dev{
    margin-left: 70px;
    display: flex;
    li{
        list-style: none;
    }
    
    a{
        color: #000;
        font-size: 2em;
        margin-left: 20px;
        display: inline-block;
        transition: 0.25s;
        &:hover{
            transform: translateY(-5px);
        }
    }
}

.butslide{
    position: relative;
    margin-right: 70px;
    user-select: none;
    p{
        position: relative;
        text-align: end;
        margin-bottom: 15px;
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            width: 50px;
            height: 2px;
            background: #444444;
        }
    }
    span{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #ddd;
        cursor: pointer;
        font-size: 1em;

        &:nth-child(2){
            margin-right: 20px;
        }
    }
}

    
