@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$FONT : 'Montserrat', sans-serif;
$BACK-BODY: #B983FF;
$A-COLOR: #333;
$FORM-COLOR: #EEE;
$BTN-COLOR: #98BAE7;
$WTE: #FFF;
$FOM-SIDE: #98BAE7;
$HOV: #B8E4F0;

* {
    box-sizing: border-box;
}

body {
    font-family: $FONT;
    background: $BACK-BODY;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

h1 {
    font-weight: bold;
    margin: 0;
}

span {
    font-size: 0.8em;
}

p{
    font-size: 0.9em;
}

.container {
    background: $WTE;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    form{
        background: $WTE;
        display: flex;
        flex-direction: column;
        padding:  0 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    input {
        background: $FORM-COLOR;
        border: none;
        border-radius: 5px;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }
}

a {
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid $BTN-COLOR;
    background: $BTN-COLOR;
    color: $WTE;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    &:active{
        transform: scale(.95);
    }
    &:focus{
        outline: none;  
    }
    &.button{
        background: transparent;
        border-color: $WTE;
    }
    &:hover{
        background: $HOV;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
    }
}

button {
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid $WTE;
    background: $BTN-COLOR;
    color: $WTE;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    &:active{
        transform: scale(.95);
    }
    &:focus{
        outline: none;  
    }
    &.button{
        background: transparent;
        border-color: $WTE;
    }
    &:hover{
        background: $HOV;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
    }
}



.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.side-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.behindbox {
    background: $FOM-SIDE;
    color: $WTE;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.topbox {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.side-right {
    right: 0;
    transform: translateY(0);
}

.container.right-panel-active{
    .sign-up-container{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }
}